.dropdowns{
    border-radius: 5px;
    padding:5px;
    color: teal;
    border-color: teal;
    font-family: "Poppins", sans-serif;
}

.qpHeading{
    font-size:25px;
    font-family: "Poppins", sans-serif;
}

.qpDetails{
    margin-top:10px;
    font-family: "Poppins", sans-serif;
}

.drop-zone {
    max-width: 500px;
    height: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
  }

  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }

.upload-button{
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background:teal;
    color:white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    width:150px;
    margin-top: 70px;
}

.browse-button{
  padding: 10px;
    font-size: 16px;
    font-weight: 500;
    background:teal;
    color:white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    width:150px;
}